@tailwind base;
@tailwind components;
@tailwind utilities;


.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 15px;
  }
  
  .divider-line {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 0 10px;
  }
  
  .divider-text {
    color: #333;
    font-weight: bold;
  }
  